@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --btnColor: linear-gradient(180deg, rgb(25, 40, 76) 0%, #290c5e 100%);
    --bgColor: #dfdfdf;
    --bgColor2: #290c5e;
    --borderColor: rgba(255, 255, 255, 0.1);
    --borderColor2: rgba(255, 255, 255, 0.5);
    --borderColor3: rgba(0, 0, 0, 0.2);
    --txtColor: #000;
    --txtColor2: #fff;
    --bgTerminal: #000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background: var(--bgColor);
    height: 100vh;
    color: var(--txtColor);
    font-size: 1em;
}

body a {
    color: var(--txtColor2);
    font-size: 1.10em;
    text-decoration: none;
    font-weight: 800;
}

/* HEADER */

header .container{
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: var(--bgColor2);
    border-bottom: 1px solid var(--borderColor);
}


nav{
    width: 100%;
    position: absolute;
    right: 0;
    top: 7.5vh;
    background: var(--bgColor2);
}

nav a{
    font-size: 0.90em;
    font-weight: 500;
    letter-spacing: 1px;
}

header button{
    width: 25px;
    height: 25px;
    font-size: 1.25em;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--txtColor2);
}

nav ul{
    list-style-type: none;
}

nav li{
    display: flex;
    align-items: center;
    padding: 0 2%;
    border-bottom: 1px solid var(--borderColor);
    height: 5vh;
}

.search-box{
    height: 7.5vh;
    border-bottom: none;
}

.search-box .container{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.search-box input{
    width: 90%;
    height: 4vh;
    background: none;
    border: none;
    border-bottom: var(--borderColor2) 0.5px solid;
    color: var(--txtColor2);
    font-size: 1em;
    outline: none;
}

.search-box #btn-search{
    font-size: 1em;
}


/* HOME SECTION */

#home{
    height: 85vh;
}

#home .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5%;
}

#home h1{
    font-size: 2.5em;
    font-weight: 300;
    color: var(--txtColor);
}

#home h1 strong{
    font-weight: 500;
}

.animated-text .text{
    color: transparent;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-clip: text;
    animation: changeColor 2s linear;
}

@keyframes changeColor{
    from{
        background-position: -50rem 0;
    }
}

#home input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--borderColor2);
    color: var(--txtColor2);
    outline: none;
    font-size: 20px;
}

#home button{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--borderColor2);
    background: var(--btnColor);
    color: var(--txtColor2);
    cursor: pointer;
    font-weight: 600;
}

#home button:hover{
    box-shadow: 2px 2px 2px #000;
}

/* BLOG SECTION */

#blog .container{
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
    row-gap: 20px;
}

.blog-posts{
    height: 300px;
    width: 100%;
    padding: 5%;
    background: #fff;
    border: 1px solid var(--borderColor);
    box-shadow: 1px 1px 1px #000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.blog-texts{
    height: 80%;
}

.blog-texts h2{
    font-weight: 500;
    text-align: center;
}

.blog-texts h3{
    font-weight: 300;
    font-size: 0.70em;
    background: #290c5e;
    display: inline;
    padding: 1%;
    color: var(--txtColor2);
    border-radius: 5px;
    font-weight: 500;
}

.blog-texts p{
    padding: 5% 0;
    font-weight: 200;
}

.blog-btn{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 20%;
}

.blog-btn button{
    height: 40px;
    padding: 0 30px;
    border-radius: 5px;
    border: 1px solid var(--borderColor2);
    background: var(--btnColor);
    color: var(--txtColor2);
    cursor: pointer;
    font-weight: 600;
}

.blog-btn button:hover{
    box-shadow: 2px 2px 2px #000;
}


/* CONTACT SECTION */

#contact{
    height: 85vh;
}

#contact .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 90%;
    padding: 5%;
    background: #fff;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
}

.contact-form #form-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-inputs input{
    height: 40px;
    border: 1px solid var(--borderColor3);
    border-radius: 5px;
    outline: none;
    padding: 2%;
    background: transparent;
}

.contact-form textarea{
    border: 1px solid var(--borderColor3);
    border-radius: 5px;
    outline: none;
    padding: 2%;
    background: transparent;
}

.contact-form button{
    background: var(--btnColor);
    color: var(--txtColor2);
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    cursor: pointer;
    font-weight: 600;
}

.contact-form button:hover{
    box-shadow: 2px 2px 2px #000;
}

/* PROJECTS SECTION */

#projects .container{
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
    row-gap: 20px;
}

.project-post{
    height: auto;
    width: 100%;
    padding: 5%;
    background: #fff;
    border: 1px solid var(--borderColor);
    box-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.project-img{
    width: 100%;
    height: 60%;
}

.project-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #000;
}

.project-texts{
    display: flex;
    flex-direction: column;
}

.project-texts h2{
    font-weight: 500;
    text-align: center;
}

.project-texts p{
    font-weight: 300;
}

.project-btn button{
    height: 40px;
    padding: 0 30px;
    border-radius: 5px;
    border: 1px solid var(--borderColor2);
    background: var(--btnColor);
    color: var(--txtColor2);
    cursor: pointer;
    font-weight: 600;
}

.project-btn button:hover{
    box-shadow: 2px 2px 2px #000;
}


/* FOOTER */

footer .container{
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: var(--bgColor2);
    color: var(--txtColor2);
    border-top: 1px solid var(--borderColor);
}

.social-media{
    display: flex;
    column-gap: 10px;
}




