@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --btnColor: linear-gradient(180deg, rgb(25, 40, 76) 0%, #290c5e 100%);
    --bgColor: #dfdfdf;
    --bgColor2: #290c5e;
    --borderColor: rgba(255, 255, 255, 0.1);
    --borderColor2: rgba(255, 255, 255, 0.5);
    --txtColor: #000;
    --txtColor2: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background: var(--bgColor);
    height: 100vh;
    color: var(--txtColor);
    font-size: 1em;
}

body a {
    color: var(--txtColor2);
    font-size: 1.10em;
    text-decoration: none;
    font-weight: 800;
}

/* HEADER */

header .container{
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: var(--bgColor2);
    border-bottom: 1px solid var(--borderColor);
}


nav{
    width: 100%;
    position: absolute;
    right: 0;
    top: 7.5vh;
    background: var(--bgColor2);
}

nav a{
    font-size: 0.90em;
    font-weight: 500;
    letter-spacing: 1px;
}

header button{
    width: 25px;
    height: 25px;
    font-size: 1.25em;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--txtColor2);
}

nav ul{
    list-style-type: none;
}

nav li{
    display: flex;
    align-items: center;
    padding: 0 2%;
    border-bottom: 1px solid var(--borderColor);
    height: 5vh;
}

.search-box{
    height: 7.5vh;
    border-bottom: none;
}

.search-box .container{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.search-box input{
    width: 90%;
    height: 4vh;
    background: none;
    border: none;
    border-bottom: var(--borderColor2) 0.5px solid;
    color: var(--txtColor2);
    font-size: 1em;
    outline: none;
}

.search-box #btn-search{
    font-size: 1em;
}


/* HOME SECTION */

#home{
    height: 85vh;
}

#home .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5%;
}

#home h1{
    font-size: 3em;
    font-weight: 300;
}

#home h1 strong{
    font-weight: 500;
}

#home button{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--borderColor2);
    background: var(--btnColor);
    color: var(--txtColor2);
    font-weight: 600;
}

#home button:hover{
    box-shadow: 2px 2px 2px #000;
}

/* BLOG SECTION */

#blog .container{
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
    row-gap: 20px;
}

.blog-posts{
    height: 300px;
    width: 100%;
    background: #fff;
    border: 1px solid #000;
}






/* FOOTER */

footer .container{
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: var(--bgColor2);
    color: var(--txtColor2);
    border-top: 1px solid var(--borderColor);
}

.social-media{
    display: flex;
    column-gap: 10px;
}




